[Desktop Entry]
Categories=Utility;TextEditor;Development
Comment=Neovim in Xterm (direct command)
Exec=xterm -fs 10 -fa 'JetBrains Mono' -e nvim
GenericName=Neovim in Xterm
Icon=io.neovim.nvim
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;application/x-javascript;application/x-css
Name=Neovim X (local)
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-SingleWindow=false
X-KDE-SubstituteUID=false
X-KDE-Username=
